Repository rh-messaging-qe/yacfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, tox, profiles

.pre-commit-config.yaml:

---

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-ast
  - id: check-merge-conflict
  - id: flake8
#  - id: pyflakes
  - id: double-quote-string-fixer
#  - id: requirements-txt-fixer
  - id: end-of-file-fixer
- repo: local
  hooks:
  - id: pytest
    name: pytest tests/
    entry: pytest --color=yes tests/ -ra -q
    files: ^(.*py)$
    language: python
    additional_dependencies: [pytest, mock, jinja2, pyyaml]
    python_version: python3
    pass_filenames: false
  - id: tox
    name: tox
    entry: tox
    files: ^(.*py)$
    language: python
    additional_dependencies: [tox]
    pass_filenames: false
  - id: profiles
    name: profiles
    entry: bash profile_test.sh
    files: ^(.*profiles.*yaml(.jinja2)?)$
    language: system
    pass_filenames: true

FIX tox.ini [gh-actions] Python 3.7 problem
  tox.ini
Due: none

FIX GitHub Actions coverage
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
Due: none

NEW(.github) community documents
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fixup! NEW(.github) community documents
  README.md
Due: none

deploy: d30cd47ac6819c4efd450b7675cabed480e37460
  _sources/api.md
  _sources/batch.md
  _sources/customization.md
  _sources/index.md
  _sources/install.md
  _sources/usage.md
  api.html
  batch.html
  customization.html
  index.html
  install.html
  searchindex.js
  usage.html
Due: none

FIX(CoC) adapted fedora's CoC
  .github/CODE_OF_CONDUCT.md
Due: none

FIX(.github) simplified CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

FIX Coverage pytest
  tox.ini
Due: none

FIX Pull Request workflow
  .github/workflows/master.pull_request.workflow.yaml
Due: none

Update README.md
  README.md
Due: none

NEW(.github) community documents (#12)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

RM setup_requires, test_requires due to existing tox testing process.
  setup.py
Due: pytest, tox

UPD GitHub Actions temporary disable stable release
  .github/workflows/stable.release.workflow.yaml
Due: none

VERSION 0.8.0
  src/yacfg/meta.py
Due: pytest, tox

fix typos in profile user_address_settings
  src/yacfg/profiles/artemis/2.14.0/_modules/broker_xml/address_settings/user_address_settings.yaml.jinja2
  src/yacfg/profiles/artemis/2.15.0/_modules/broker_xml/address_settings/user_address_settings.yaml.jinja2
Due: profiles

VERSION 0.8.1
  src/yacfg/meta.py
Due: pytest, tox

VERSION 0.8.2
  src/yacfg/meta.py
Due: pytest, tox

export YACFG_PROJECT_ROOT
  .github/workflows/master.pull_request.workflow.yaml
  tox.ini
Due: none

UPD(pre-commit) disabled pytest (tox is available)
  .pre-commit-config.yaml
Due: none

UPD(yacfg) Refactor the "overridevalue" filter implementation
  src/yacfg/cli_arguments.py
  src/yacfg/yacfg.py
  tests/extras/test_broker_special_char.py
Due: pytest, tox

UPD(tox) Fixing the testenv path, dependencies, pypy
  tox.ini
Due: none

UPD(GH Actions) Remove some functionality which didn't work (clean before semantic releases)
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
  .github/workflows/stable.release.workflow.yaml
  tox.ini
Due: none

FIX(tox) Change docs build to Python 3.9
  tox.ini
Due: none

UPD(Github Actions) Add more USING conditions ENV
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
Due: none

FIX(Github Actions) Coverage
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
  tox.ini
Due: none

UPD(markdown) markdownlint fixes
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  MANIFEST.in
  README.md
  docs/customization.md
  src/yacfg/profiles/amq_broker/7.7.0/default_with_user_address_settings.yaml.jinja2
Due: profiles

Fix error when user doesn't provide optional extra properties
  src/yacfg/yacfg.py
Due: pytest, tox

FIX(yaml) cli fails without extra_properties_data fixes #33
  src/yacfg/cli_arguments.py
  src/yacfg/yacfg.py
Due: pytest, tox

Adding new broker logging config support
  src/yacfg/profiles/artemis/2.16.0/_modules/logging_properties/default_user_defined.yaml.jinja2
  src/yacfg/profiles/artemis/2.16.0/default_with_user_address_settings.yaml.jinja2
  src/yacfg/templates/artemis/2.16.0/ac.logging.properties.jinja2
  src/yacfg/templates/artemis/2.16.0/logging.properties.jinja2
  src/yacfg/templates/artemis/2.16.0/modules/broker_xml/address_settings.jinja2
  src/yacfg/yacfg.py
  tests/extras/results/special_logging_setting_result.yaml
  tests/extras/test_broker_special_char.py
  tests/extras/tune_files/special_address_setting.yaml
  tests/extras/tune_files/special_logging_setting.yaml
Due: pytest, tox, profiles

move the condition out of loops
  src/yacfg/yacfg.py
Due: pytest, tox

Improve special char processing.
  src/yacfg/templates/artemis/2.16.0/modules/broker_xml/address_settings.jinja2
  src/yacfg/yacfg.py
  tests/extras/test_broker_special_char.py
  tests/extras/tune_files/special_address_setting.yaml
Due: pytest, tox

Improve special char processing. (#36)
  src/yacfg/templates/artemis/2.16.0/modules/broker_xml/address_settings.jinja2
  src/yacfg/yacfg.py
  tests/extras/test_broker_special_char.py
  tests/extras/tune_files/special_address_setting.yaml
Due: pytest, tox
