Repository rh-messaging-qe/yacfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, tox, profiles

.pre-commit-config.yaml:

---

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-ast
  - id: check-merge-conflict
  - id: flake8
#  - id: pyflakes
  - id: double-quote-string-fixer
#  - id: requirements-txt-fixer
  - id: end-of-file-fixer
- repo: local
  hooks:
  - id: pytest
    name: pytest tests/
    entry: pytest --color=yes tests/ -ra -q
    files: ^(.*py)$
    language: python
    additional_dependencies: [pytest, mock, jinja2, pyyaml]
    python_version: python3
    pass_filenames: false
  - id: tox
    name: tox
    entry: tox
    files: ^(.*py)$
    language: python
    additional_dependencies: [tox]
    pass_filenames: false
  - id: profiles
    name: profiles
    entry: bash profile_test.sh
    files: ^(.*profiles.*yaml(.jinja2)?)$
    language: system
    pass_filenames: true

Add Red Hat AMQ Broker 7.8.0 profiles
  src/yacfg/profiles/amq_broker/7.8.0/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/_modules/broker_xml/store/jdbc_store.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.0/store/jdbc/default.yaml.jinja2
Due: profiles

Add Red Hat AMQ Broker 7.8.1 profiles
  src/yacfg/profiles/amq_broker/7.8.1/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/_modules/broker_xml/store/jdbc_store.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.1/store/jdbc/default.yaml.jinja2
Due: profiles

VERSION 0.8.3
  src/yacfg/meta.py
Due: pytest, tox

Issue #38 Typo in src/yacfg/profiles/artemis/2.17.0/default.yaml.jinja2
  src/yacfg/profiles/artemis/2.17.0/default.yaml.jinja2
Due: profiles

Issue #38 Typo in src/yacfg/profiles/artemis/2.17.0/default.yaml.jinja2 (#39)
  src/yacfg/profiles/artemis/2.17.0/default.yaml.jinja2
Due: profiles

Added 7.8.2 profiles
  src/yacfg/profiles/amq_broker/7.8.2/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/_modules/broker_xml/store/jdbc_store.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/store/jdbc/default.yaml.jinja2
Due: profiles

Update setup.py, requirements.txt for temporary compatibility with old CI scripts
  dev_requirements.txt
  requirements.txt
  setup.py
Due: pytest, tox

Update typo in Artemis profile
  src/yacfg/profiles/artemis/2.16.0/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/artemis/2.16.0/default_with_user_address_settings.yaml.jinja2
Due: profiles

Change the source for defining version
  src/yacfg/__init__.py
  src/yacfg/cli_arguments.py
  src/yacfg/meta.py
  src/yacfg/yacfg_cli.py
  src/yacfg_batch/__init__.py
  src/yacfg_batch/cli_arguments.py
  src/yacfg_batch/meta.py
  src/yacfg_batch/yacfg_batch_cli.py
Due: pytest, tox

FIX documentation (jupyter-book upgrade)
  docs/_toc.yml
Due: none

FIX documentation typos 'yacgf' to 'yacfg'
  docs/batch.md
  docs/customization.md
  docs/install.md
  docs/public.rst
  docs/usage.md
Due: none

Add pyproject.toml for Poetry support
  pyproject.toml
Due: none

Add poetry.lock with current locked dependencies
  poetry.lock
Due: none

Update README.md
  README.md
Due: none

Remove setup.cfg and MANIFEST.in
  MANIFEST.in
  setup.cfg
Due: none

Update tox.ini for Poetry support
  tox.ini
Due: none

Add native support for Dependabot
  .github/dependabot.yml
Due: none

Update Github Actions
  .github/workflows/docs.yaml
  .github/workflows/install.workflow.yaml
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
  .github/workflows/released.install.workflow.yaml
  .github/workflows/stable.release.workflow.yaml
Due: none

Adjust and fix major issues with Tox py{version}
  tox.ini
Due: none

Fix SC2145 issue in profile_test.sh and add Bash shebang
  profile_test.sh
Due: none

Fix path in test/extras
  tests/extras/test_broker_special_char.py
Due: pytest, tox

Fix "strange" bug in 2.16.0 profiles
  src/yacfg/profiles/artemis/2.16.0/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/artemis/2.16.0/showcase.yaml.jinja2
Due: profiles

Fix typos in 2.17.0 profile
  src/yacfg/profiles/artemis/2.17.0/default_with_user_address_settings.yaml.jinja2
Due: profiles

Fix Poetry in GitHub Actions jobs
  .github/workflows/install.workflow.yaml
  .github/workflows/master.pull_request.workflow.yaml
Due: none

feat: refactor and update GitHub Action workflows
  .github/workflows/docs.yaml
  .github/workflows/install.workflow.yaml
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  .github/workflows/master.pull_request.workflow.yaml
  .github/workflows/master.push.workflow.yaml
  .github/workflows/released.install.workflow.yaml
Due: none

fix: GitHub Action workflows runs-on
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
Due: none

fix: Github Actions
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  tox.ini
Due: none

fix: Github Actions
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
Due: none

fix: issues with YAML lint
  .github/dependabot.yml
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  .pre-commit-config.yaml
  docs/_config.yml
  docs/_toc.yml
Due: none

fix: tox paths and commands
  tox.ini
Due: none

fix: GitHub Action test name
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
Due: none

fix: tox
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  tox.ini
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Create CODEOWNERS file (#55)
  .github/CODEOWNERS
Due: none

fix: release pypi.org specification for description
  pyproject.toml
  setup.py
Due: pytest, tox

fix: fix dependency pyyaml
  pyproject.toml
  requirements.txt
  setup.py
Due: pytest, tox

RELEASE 0.9.1
  pyproject.toml
  setup.py
Due: pytest, tox
