Repository rh-messaging-qe/yacfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, tox, profiles

.pre-commit-config.yaml:

---

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-ast
  - id: check-merge-conflict
  - id: flake8
#  - id: pyflakes
  - id: double-quote-string-fixer
#  - id: requirements-txt-fixer
  - id: end-of-file-fixer
- repo: local
  hooks:
  - id: pytest
    name: pytest tests/
    entry: pytest --color=yes tests/ -ra -q
    files: ^(.*py)$
    language: python
    additional_dependencies: [pytest, mock, jinja2, pyyaml]
    python_version: python3
    pass_filenames: false
  - id: tox
    name: tox
    entry: tox
    files: ^(.*py)$
    language: python
    additional_dependencies: [tox]
    pass_filenames: false
  - id: profiles
    name: profiles
    entry: bash profile_test.sh
    files: ^(.*profiles.*yaml(.jinja2)?)$
    language: system
    pass_filenames: true

RELEASE 0.8.4
  src/yacfg/meta.py
Due: pytest, tox

Fix tests
  src/yacfg/profiles/artemis/2.17.0/showcase.yaml.jinja2
  src/yacfg/profiles/artemis/2.18.0/showcase.yaml.jinja2
  src/yacfg/templates/artemis/2.17.0/modules/broker_xml/security_settings.jinja2
  src/yacfg/templates/artemis/2.17.0/modules/broker_xml/security_settings/security_setting_plugin.jinja2
  src/yacfg/templates/artemis/2.18.0/modules/broker_xml/security_settings.jinja2
  src/yacfg/templates/artemis/2.18.0/modules/broker_xml/security_settings/security_setting.jinja2
  src/yacfg/templates/artemis/2.18.0/modules/broker_xml/security_settings/security_setting_plugin.jinja2
Due: profiles

FIX wrong/shuffled includes in amq_broker 7.8.2 and 7.9.0 profiles
  src/yacfg/profiles/amq_broker/7.8.2/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.2/store/jdbc/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.9.0/store/jdbc/default.yaml.jinja2
Due: profiles

UPD tox
  tox.ini
Due: none

Update project dependencies
  poetry.lock
  pyproject.toml
Due: none

UPD(GitHub Action) remove pypy from matrix
  .github/workflows/main.push.workflow.yaml
Due: none

RELEASE 0.9.2
  pyproject.toml
  setup.py
Due: pytest, tox

RELEASE 0.9.3
  poetry.lock
  pyproject.toml
  setup.py
Due: pytest, tox

Add AMQ Broker 7.8.3 profiles
  src/yacfg/profiles/amq_broker/7.8.3/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/_modules/broker_xml/store/jdbc_store.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/store/jdbc/default.yaml.jinja2
Due: profiles

RELEASE 0.9.3
  poetry.lock
  pyproject.toml
Due: none

RELEASE 0.9.1a0 Backport for AMQ Broker 7.8.3 LTS
  poetry.lock
  pyproject.toml
  setup.py
  src/yacfg/profiles/amq_broker/7.8.3/AIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/NIOBasic.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/_modules/bootstrap_xml/allow.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/_modules/broker_xml/store/jdbc_store.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/off.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/on_demand.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/on_demand_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/strict.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/cluster/strict_redistribution.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default_win.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/default_with_user_address_settings.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/replication.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/shared_store_fs.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/ha/shared_store_jdbc.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/performance/base.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/performance/perf-clustering.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/security/gssapi/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/security/gssapi_ldap/my.realm.yaml.jinja2
  src/yacfg/profiles/amq_broker/7.8.3/store/jdbc/default.yaml.jinja2
  src/yacfg/profiles/artemis/2.17.0/showcase.yaml.jinja2
  src/yacfg/templates/artemis/2.17.0/management.xml.jinja2
  src/yacfg/templates/artemis/2.17.0/modules/broker_xml/security_settings.jinja2
  src/yacfg/templates/artemis/2.17.0/modules/broker_xml/security_settings/security_setting.jinja2
  src/yacfg/templates/artemis/2.17.0/modules/broker_xml/security_settings/security_setting_plugin.jinja2
Due: pytest, tox, profiles

ADD Tool version information to the config_data
  src/yacfg/config_data.py
Due: pytest, tox

UPD Refactor files select_template_dir()
  src/yacfg/files.py
Due: pytest, tox

UPD refactor files select_profile_file()
  src/yacfg/files.py
Due: pytest, tox

ADD template debug info
  src/yacfg/templates.py
Due: pytest, tox

FIX __version__ and importlib issue
  src/yacfg/__init__.py
Due: pytest, tox

UPD Temporary skip test_with_special_chars
  tests/extras/test_broker_special_char.py
Due: pytest, tox

ADD YACFG_PROFILES and YACFG_TEMPLATES to override module path for profiles/ and templates/
  src/yacfg/files.py
Due: pytest, tox

FIX YACFG_PROFILES and YACFG_TEMPLATES different path support in query
  src/yacfg/query.py
  tests/test_yacfg/files/fakes.py
  tests/test_yacfg/files/test_paths.py
  tests/test_yacfg/files/test_select_profile_file.py
  tests/test_yacfg/files/test_select_template_dir.py
  tests/test_yacfg/output/test_new_profile.py
  tests/test_yacfg/profiles/fakes.py
  tests/test_yacfg/profiles/test_get_profile_template.py
  tests/test_yacfg/query/test_list_profiles.py
  tests/test_yacfg/query/test_list_templates.py
  tests/test_yacfg/templates/test_get_template_environment.py
Due: pytest, tox

UPD clean unused imports
  src/yacfg_batch/meta.py
  tests/test_yacfg/query/test_list_templates.py
Due: pytest, tox

FIX mypy importlib_metadata error
  src/yacfg/__init__.py
Due: pytest, tox

ADD Dockerfile based on Alpine Linux with Python 3.10.0
  Dockerfile
Due: none

RM requirements.txt dev_requirements.txt
  dev_requirements.txt
  requirements.txt
Due: none

RM setup.py
  setup.py
Due: pytest, tox

ADD Black to dev dependency
  poetry.lock
  pyproject.toml
Due: none

FIX remove pytest addopts
  pyproject.toml
Due: none

FIX Loader in iter_gen_profiles
  src/yacfg_batch/yacfg_batch.py
  tests/test_yacfg_batch/test_iter_gen_profiles.py
Due: pytest, tox

UPD Optimize imports
  src/yacfg/cli_arguments.py
  src/yacfg/config_data.py
  src/yacfg/yacfg.py
  src/yacfg/yacfg_cli.py
  src/yacfg_batch/cli_arguments.py
  src/yacfg_batch/yacfg_batch_cli.py
  tests/extras/test_broker_special_char.py
  tests/files/test_ensure_output_path.py
  tests/test_yacfg/cli_arguments/test_boolize.py
  tests/test_yacfg/config_data/test_render_config.py
  tests/test_yacfg/files/test_ensure_output_path.py
  tests/test_yacfg/files/test_get_output_filename.py
  tests/test_yacfg/output/test_new_profile.py
  tests/test_yacfg/output/test_new_profile_rendered.py
  tests/test_yacfg/output/test_write_output.py
  tests/test_yacfg/test_generate.py
  tests/test_yacfg/test_generate_core.py
  tests/test_yacfg/test_generate_outputs.py
  tests/test_yacfg_batch/test_generate_all_profiles.py
  tests/test_yacfg_batch/test_iter_gen_profiles.py
Due: pytest, tox

UPD: tox pytest coverage + Black formatter
  tox.ini
Due: none

UPD: add Python 3.7 support + poetry update
  poetry.lock
  pyproject.toml
Due: none

UPD: README.md
  README.md
Due: none

UPD: tox and GitHub actions (pypy38, python37)
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  tox.ini
Due: none

Update Github Actions Python version
  .github/workflows/main.pull_request.workflow.yaml
  .github/workflows/main.push.workflow.yaml
  .github/workflows/released.install.workflow.yaml
Due: none

UPD logging string format
  poetry.lock
  src/yacfg/cli_arguments.py
  src/yacfg/files.py
  src/yacfg/output.py
  src/yacfg/profiles.py
  src/yacfg/query.py
  src/yacfg/templates.py
  src/yacfg/yacfg.py
  src/yacfg/yacfg_cli.py
  src/yacfg_batch/yacfg_batch.py
  tests/test_yacfg/test_generate_outputs.py
Due: pytest, tox

UPD dockerfile
  Dockerfile
Due: none
